[2022-10-01 19:26] ayoayco opened #1 "[docs]: a new website for documentation"
The library is very new. Right now we only have the `astro-reactive-form` library of types, classes, and components.

I invite you to check its usage in the [package README](https://github.com/ayoayco/astro-reactive-library/tree/main/packages/astro-reactive-form)

If you are up to the task, this issue is for creating the initial documentation website.

Acceptance Criteria
1. Recommend a self-hoste

[2022-10-01 19:38] ayoayco opened #2 "[chore]: Set up the project monorepo"
Hey, explorer! 🚀

Currently, the project is made up of [NPM workspaces](https://docs.npmjs.com/cli/v7/using-npm/workspaces), which are node projects that share a singular root package.

This issue is for setting up the project monorepo. Check the [CONTRIBUTING document](https://github.com/ayoayco/astro-reactive-library/blob/main/CONTRIBUTING.md) for how to contribute.

Acceptance criteria:
1. Reco

[2022-10-01 19:40] ayoayco opened #3 "[docs]: update project documentation for monorepo management"
Hey, explorer! 🚀

This issue requires completion of issue #2 -- after which, we should update the project documentation to reflect the changes. Check the [CONTRIBUTING document](https://github.com/ayoayco/astro-reactive-library/blob/main/CONTRIBUTING.md) for how to contribute.

Don't hesitate to ask! :)

[2022-10-01 20:41] ayoayco opened #4 "[feat] implement FormControl states"
Implement the following form control states:
- `isPristine` - boolean that is true until the control is touched, set to false when touched for the first time
- `isValid` - boolean, true until set to false by a validator (validators are implemented in another issue)

[2022-10-01 21:22] ayoayco opened #5 "[feat]: radio set FormControl"
radio buttons are form controls that are grouped together, and allow only one to be selected.

Implement the property that indicates the group too which a radio button belongs with, and allow only one button to be selected in this group

[2022-10-01 22:13] ayoayco opened #6 "[refactor] FormControlBase"
Refactor FormControl types
- rename `IFormControl` to `FormControlBase`, which will be extended by all other form control types
- fix `Radio` to have `type` prop set to `'radio'`

[2022-10-01 22:19] ayoayco opened #7 "[feat]: export all from Form.astro"
Hey, explorer! 🚀

The package `astro-reactive-form` should export all that it has to the users.

For this, you just need to modify the file `packages/astro-reactive-form/index.ts`, and add the following line:

[code]

Follow the instructions in our [contributing guide](https://github.com/ayoayco/astro-reactive-library/blob/main/CONTRIBUTING.md) to get the project running. :)

[2022-10-01 22:29] ayoayco opened #8 "[docs]: add a 'description' for packages in README"
In the project README, add a 'description' for each of the packages in the project

[2022-10-02 07:42] ayoayco opened #9 "[feat]: implement a 'theme' property to the Form Component"
Hey, explorer! 🚀

Currently the Form.astro component in the project's astro-reactive-form package only accepts one input property (i.e., `formGroup`).

You can find this file in `packages/astro-reactive-form/Form.astro`. Follow the instructions in our [contributing guide](https://github.com/ayoayco/astro-reactive-library/blob/main/CONTRIBUTING.md) to get the project running.

In this issue, we add

[2022-10-02 07:50] Chitvan14 commented on #9
Hi @ayoayco, can you brief this issue? It will be helpful in understanding and working for it.

[2022-10-02 08:02] ayoayco commented on #9
Hi @Chitvan14 ! Glad to have you on board! 🚀

Right now, if you run the project demo app, you will see that we have a Form component that is currently unstyled.

We want to keep it unstyled by default, but also allow our users to use a 'theme' property if they want, like so:

[code]

For this issue, the goal is to add the 'theme' property to our `Form.astro` component. You don't have to fully impl

[2022-10-02 08:48] ayoayco opened #10 "[docs]: initial RELEASE / CHANGELOG document"
Hi, explorer! 🚀

We are only at the start of our adventure. Later on we are going to have more packages and multiple releases.

Want to start the document to track these release? Just add the initial file and brief description of the document!

[2022-10-02 09:07] ayoayco opened #11 "feat(form): each control is an island (initial components)"
Create an Astro component for each of the following input control types (i.e., possible values for `ControlBase.type` )

[2022-10-02 09:21] ayoayco commented on #9
I updated the issue description to add a clear Acceptance Criteria :)

[2022-10-02 13:03] ayoayco opened #12 "[feat]: create an initial project landing page"
Hey, explorer! 🚀

Let's build a fancy landing page/website for the Astro Reactive Library. Does not have to be filled with content. The only condition is that it's built with Astro, because we love Astro! :)

Astro even offers [templates](https://astro.new) and [themes](https://astro.build/themes/)!

Acceptance criteria:
1. Start an Astro project called 'landing-page'
2. Choose a fancy theme that

[2022-10-02 14:35] Jaspreet099 commented on #10
Hey, @ayoayco can you please assign this issue to me?

[2022-10-02 14:50] ayoayco commented on #10
Thank you @Jaspreet099 for your contribution! 🚀

[2022-10-02 14:50] #10 closed

[2022-10-02 14:52] ayoayco commented on #10
If you want, @Jaspreet099 - you may now create a PR to add yourself to the [list Contributors in the project README](https://github.com/ayoayco/astro-reactive-library#contributors)

[2022-10-02 15:00] amit-ksh commented on #7
I would like to work on this

[2022-10-02 15:01] ayoayco commented on #7
Awesome, @amit-ksh ! Looking forward to your first PR! 🚀

[2022-10-02 15:17] #6 closed

[2022-10-02 15:18] ayoayco commented on #6
Thanks for the contribution, @shivamchourasia4 ! Now if you want you can open a PR to update the [list of contributors in our project README](https://github.com/ayoayco/astro-reactive-library#contributors) :)

[2022-10-02 15:43] ayoayco opened #16 "[chore]: Add contributor pictures to the project README"
Hi, explorer! 🚀

The [list of contributors in our project README](https://github.com/ayoayco/astro-reactive-library#contributors) needs to be in sync. For this, we can use: [https://contrib.rocks](https://contrib.rocks)

Update our readme to embed the image generated by [https://contrib.rocks](https://contrib.rocks) for the project repository to fix this issue :)

[2022-10-02 15:50] ManasviGoyal commented on #16
Hi. I would like to work on this

[2022-10-02 15:50] snehafarkya commented on #16
Hey! Can I work on this?

[2022-10-02 15:54] Preet-Sojitra commented on #12
Heyy, I want to work on this issue.
I don't have experience of using Astro, but I want to give it try. Can you assign this to me?

[2022-10-02 16:13] Udeozor commented on #16
Hi, I would like to take up this issue.

[2022-10-02 16:17] chaaals commented on #9
Hey @ayoayco would love to work on this, can you assign this to me?

[2022-10-02 16:28] ayoayco commented on #16
Hi @ManasviGoyal @snehafarkya @Udeozor ! Thank you for your interest to contribute! 🚀

We now have an open PR #17 for this, which just needs one minor adjustment... I am just waiting for the update and it will be merged.

You may look into other open issues for anything you are interested to do 🤗 or you can always open a new issue if you find something to improve.

[2022-10-02 16:30] ayoayco commented on #12
Hi @Preet-Sojitra ! Awesome that you want to try Astro. I loved it the very first time I tried 😊

Let me know if I can help with anything, just ask! :)

[2022-10-02 16:40] adetoye-dev commented on #16
Hi, thanks for checking out my PR, what adjustments do I need to make so I can go fix it ASAP?

[2022-10-02 16:43] ayoayco commented on #16
Thanks @adetoye-dev , I just put a comment to your PR! :)

[2022-10-02 16:49] #16 closed

[2022-10-02 19:05] Rishav-12 commented on #1
Hi, I would like to help by creating a docs site. I'm looking into what tool can be used.

[2022-10-02 19:19] ayoayco commented on #1
Awesome @Rishav-12 🚀 Looking forward to it. Let me know if I can help :)

[2022-10-02 22:21] Johnoris commented on #4
I would to work on this, please assign it to me

[2022-10-02 22:39] danicunhac commented on #2
1. https://github.com/lerna/lerna
### Pros
- It's highly maintained and stable
- It's recommended for big and long term projects
- Uses npm and TypeScript
- Has good tools and docs for developing

### Cons
- Not fully TypeScript setup
- Setup can be more difficult than Yarn Workspaces
- Less popular than Yarn Workspaces

[2022-10-03 01:34] amit-ksh opened #21 "[bug]: class FormGroup get method not defined in the demo app"
![astro-reactive-lib](https://user-images.githubusercontent.com/91947037/193487048-b7cc4feb-bce4-4442-99a2-0abb62078a57.png)

[2022-10-03 03:08] Preet-Sojitra commented on #12
@ayoayco Should I create the folder name "landing page" in the root of this project?

[2022-10-03 03:32] Manish5121 commented on #8
Hey what do you want to put in the description,
I'm new to open source don't know about it much

[2022-10-03 04:23] Icyscools commented on #5
Hi @ayoayco, Can I work on this issue?

My first idea is to make the radio buttons can be accepted and rendered the value like this

[code]
and you can custom the label next to the radio like this
[code]

What do you think?

[2022-10-03 05:28] ayoayco commented on #12
Yes, exactly. I think you can run 'npm create astro@latest landing-page' at the root

[2022-10-03 05:30] ayoayco commented on #5
Hi @Icyscools it looks good! Let's try this approach. :)

[2022-10-03 05:38] #7 closed

[2022-10-03 05:39] ayoayco opened #22 "[chore]: Set up the github Pull Request template"
We want all Pull requests to be of quality. Let's have a basic template for all pull requests.

[2022-10-03 05:42] Preet-Sojitra commented on #12
Ok will start working on this. Right now I am just creating basic landing page. Content of it can be added later

[2022-10-03 05:46] ayoayco commented on #8
Hi, @Manish5121 Glad to have you here! 🚀

It's okay, everyone is welcome to contribute. :)

For this issue, we want to add a description for each of our packages in the file `README.md` -- This is called a "MarkDown" file (that is why it has the extension .md). You will find here a table with columns Packages, Version, and Docs. You may need to learn (search google) how to write a table in MarkDow

[2022-10-03 05:57] ayoayco commented on #21
Hi @amit-ksh thank you for reporting. I think I found the issue.

[2022-10-03 05:58] ayoayco commented on #21
Please update your main branch and check again :)

`git pull origin master`

[2022-10-03 06:08] BabyElias commented on #8
Hey, I would like to take up this issue.

[2022-10-03 06:21] ayoayco commented on #21
I see that the demo app is not using the local version of packages. I am fixing this.

[2022-10-03 06:26] ayoayco commented on #21
Hi, @amit-ksh can you try pulling the latest main branch and doing a clean install?

[code]

[code]

[2022-10-03 06:38] amit-ksh commented on #21
Now it working

[2022-10-03 06:59] ayoayco commented on #21
Thank you so much for reporting! 🚀

[2022-10-03 07:12] #21 closed

[2022-10-03 07:37] ayoayco commented on #2
Thank you for the detailed comment about Lerna, @danicunhac! 🚀

I am admittedly not very familiar with monorepos so this is one thing the project needs help for. I want to wait for more inputs regarding this just to have a bit more confidence in our decision. :)

[2022-10-03 09:19] ayoayco commented on #8
Hi @BabyElias thank you! You are welcome to submit a PR for this as well :)

[2022-10-03 09:21] ayoayco commented on #4
Sure @Johnoris give it a shot! 🚀

We don't have validators yet so you can leave it as true for now.

[2022-10-03 10:30] ayoayco opened #23 "[feat]: implement limit to only have one submit button in a Form"
Hi, explorer! 🚀

Right now the constructor for FormGroup takes an array of form control configurations (IFormControl), which means that we can have multiple 'submit' buttons in the same form group.

What's worse, since our `Form.astro` component takes an array of FormGroup as input, we can have a form with several groups containing several submit buttons.

We can't allow this. 😅

In this issue, im

[2022-10-03 10:47] Johnoris commented on #4
I am getting errors and I am not familiar with this .astro I just saw the code base .Please reassign to someone else

[2022-10-03 11:27] ayoayco commented on #4
If you want to try more maybe you just need to update and do a clean install

git pull origin main

npm ci

[2022-10-03 12:14] ayoayco opened #24 "[refactor]: form-control and form-group types"
Hi, explorer! 🚀

This requires some creativity and typescript skills.

Find a way to simplify and clean up the types/interfaces/classes inside the astro-reactive-form's 'core' files (found in 'packages/astro-reactive-form/core')

That's it! Submit a PR that shows off your coding creativity and typescript skills :)

Acceptance criteria
1. Tests are passing when you run: `npm test -w astro-reactive-

[2022-10-03 13:34] Manish5121 commented on #8
Hey, @ayoayco i've made a pr please check it.

[2022-10-03 13:45] #8 closed

[2022-10-03 13:47] ayoayco commented on #23
Awesome @jmakhack 🚀 let me know if I can help! :)

[2022-10-03 14:57] Rishav-12 commented on #1
Hey, I think MkDocs would be good to start off with on this one. I shall get to it asap 🚀

[2022-10-03 15:12] ayoayco commented on #1
@Rishav-12 I realized Astro also has a template for docs! Can you check it out? Links:
- https://github.com/withastro/astro/tree/latest/examples/docs
- https://astro.new/

[2022-10-03 17:07] chinmayayy commented on #22
Hi @ayoayco , I could contribute to this under Hacktoberfest 2022, thanks!

[2022-10-03 17:14] ayoayco commented on #22
Hi @chinmayayy thank you for your interest to contribute to the project!

However I am already working in this issue. There are still other open issues you can check for something you want to do.

Or if you want to suggest any improvement you can create an issue for yourself too! 🚀

What do you enjoy doing? :)

[2022-10-03 17:28] chinmayayy commented on #22
Sure! thanks

[2022-10-04 08:20] orama254 opened #26 "[chore]: implement initial recommended community standards"
Hello @ayoayco

I was going though this project and noticed that there are some missing items based on the [Github Community Standards recommendations](https://github.com/ayoayco/astro-reactive-library/community) that would make the project contributor friendly, e.g. a code of conduct, a license, an issue template and a pull request template.

I've seen you are working on the pull request template

[2022-10-04 08:50] ayoayco commented on #26
That's really great observation, @orama254! I became aware of this too very recently.

Yes, having the initial code of conduct will help a lot. Looking forward to a PR! 🚀

[2022-10-04 10:47] #26 closed

[2022-10-04 10:56] #22 closed

[2022-10-04 11:21] ayoayco opened #28 "[style]: implement dark and light mode for the Form component"
Hi, explorer! 🚀

This one is fun! Right now, the Form component is unstyled, and we need some CSS maneuvers to implement the very first themes: light and dark mode.

Find the file `Form.astro` inside the package `astro-reactive-form` and you will see some instructions.

✨ HINT: Use the built-in CSS property: `color-scheme`
https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme

Acceptance c

[2022-10-04 12:30] AshuwinB commented on #28
Hey ayoayco! will u assign me this issue

[2022-10-04 16:06] ayoayco opened #41 "[test]: add some tests for Field and FieldSet"
Hi, explorers! 🚀

Are you up for some testing challenge? Right now we only have a set of tests for Form.astro component.

We want to add the first tests for Field.astro and FieldSet.astro 🎉

You may see the file inside `packages/astro-reactive-form/tests` for an example to follow.

Acceptance criteria:
- have tests for Field and FieldSet components when you run `npm test`

[2022-10-04 16:10] ayoayco commented on #28
Hi @AshuwinB glad to have you here! 🚀

You are welcome to submit a PR for this one :)

[2022-10-04 18:18] aswinikalyan30 commented on #41
Hey, would like to work on this!

[2022-10-04 18:28] fazzaamiarso commented on #4
Hi, @ayoayco can I help with this issue?

[2022-10-04 18:30] ayoayco commented on #4
hi @fazzaamiarso, great to have you here! 🚀

Yes this is still open. Looking forward to a PR! :)

[2022-10-04 18:31] ayoayco commented on #41
Awesome, @aswinikalyan30 ! Let me know if I can help :)

[2022-10-04 18:32] ayoayco commented on #28
Sure thing, @KIET7UKE 🚀 Let me know if I can help :)

[2022-10-04 18:34] KIET7UKE commented on #28
So, Can I make PR on this?

[2022-10-04 18:41] ayoayco commented on #28
Yes you can submit a PR for this @KIET7UKE

[2022-10-05 06:52] ayoayco opened #43 "[feat]: implement placeholder prop for FormControl"
Hi, explorer! 🚀

In this issue, we add a `placeholder` property for FormControl.

Acceptance criteria
- FormControlBase new optional prop `placeholder`
- FormControl handling for the new prop (see examples in form-control.ts)
- Field.astro component renders the input placeholder

[2022-10-05 06:58] Rishav-12 commented on #1
Sorry I couldn't get back to you earlier. I shall try to get setup with the Astro docs template.

One question: What is meant by a new workspace under "docs" as mentioned in the issue description ?

[2022-10-05 07:01] ayoayco commented on #1
No worries!

It means after creating the docs app, and you have a folder called 'docs', you have to initialize an npm workspace for it... which is as easy as calling `npm init -w <folder name>`

So if app/folder is called docs:

[code]

[2022-10-05 07:33] nihal-soni opened #44 "Want to help you by adding CheatSheet in Your Repository."

[2022-10-05 07:50] ayoayco commented on #44
Hi @nihal-soni thank you for the interest to contribute! 🚀

What cheatsheet do you have in mind exactly?

[2022-10-05 08:00] nihal-soni commented on #44
Like Html, CSS, JAVA FUNDAMENTALS , XML
This will be very helpful for beginner.

[2022-10-05 08:02] ayoayco commented on #44
Ah these materials are not directly related to the project, and could be found in other places.

Maybe update the contributing document to add some links?

[2022-10-05 09:13] ayoayco opened #45 "[feat]: toggle control"
Implement a form control toggle, which is just a checkbox under the hood

[2022-10-05 12:12] KIET7UKE commented on #28
Hey, @ayoayco I have made a PR on this issue. Kindly verify
https://github.com/ayoayco/astro-reactive-library/pull/46

[2022-10-05 13:20] fazzaamiarso commented on #4
@ayoayco I got it working , but I have to use dataset on the input field for non-primitive attributes (e.g. `data-is-pristine`, `data-is-valid`).  Also, we can't touch the server side JS (script in fence) after load and we must use client-side JS to make changes to `isPristine`.

Another issue is that the form control instances that is created in server-side must be passed through `define:vars` th

[2022-10-05 13:26] fazzaamiarso commented on #43
I will work on this

[2022-10-05 13:46] ayoayco commented on #4
I think it makes sense to have client-side JS for this.

The plan I have in mind is to support these kinds of features on the client side for now then we improve later providing a flag to do things server-side. Astro has capabilities for this but we can think of SSR later.

Thanks for putting great thought into this. Excited to see your PR :)

[2022-10-05 16:40] #43 closed

[2022-10-05 16:53] ayoayco commented on #28
✨ HINT: Use the built-in CSS property: `color-scheme`
https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme

[2022-10-05 19:16] fazzaamiarso commented on #4
@ayoayco what are your thoughts about this?  it's still messy but it have all the functionality.

[https://github.com/fazzaamiarso/astro-reactive-library/commit/ae67a532e517bebbd3b5e3d4eaf63f2fd61b7cec](https://github.com/fazzaamiarso/astro-reactive-library/commit/ae67a532e517bebbd3b5e3d4eaf63f2fd61b7cec)

[2022-10-05 19:56] ayoayco opened #49 "[docs]: add links to docs"
Update the CONTRIBUTING doc to add links:

1. Link to Discussion tab

[code]

2. Link to Code of Conduct

[code]

[2022-10-05 20:15] con-mark commented on #49
I can take this

[2022-10-06 07:20] ayoayco opened #51 "[design]: project logo"
Hi, explorer! 🚀

Are you up for some SVG challenge? Create the project logo!

_*ehem*_ Maybe an 'R' that looks like a rocket? 😆

Of course, you can take inspiration in the framework that we love. See Astro's branding here: https://astro.build/press/

Acceptance criteria:
- add a logo that represents the project as an SVG file

[2022-10-06 07:27] yash-sharma13 commented on #49
please assign it to me

[2022-10-06 07:36] ayoayco commented on #49
Hi @yash-sharma13 glad you want to contribute!

There's already an open PR for this, I am just waiting for small changes and it will be merged.

Can you check other issues for something you want to do? Or you can report a new issue if you have an idea.

[2022-10-06 17:01] #45 closed

[2022-10-07 08:43] #49 closed

[2022-10-07 10:40] Rishav-12 commented on #1
@ayoayco should I commit the dist/ folder generated by `npm run build`?

[2022-10-07 10:53] ayoayco commented on #1
Hi @Rishav-12! No, it will be ignored automatically because of the file `.gitignore` in the root folder :)

[2022-10-07 12:20] fazzaamiarso commented on #9
@ayoayco is anyone currently working on this issue? If not, I would like to help 😀.

[2022-10-07 14:01] #4 closed

[2022-10-07 14:07] ayoayco commented on #9
Hi @fazzaamiarso! This has been inactive for some days, I think it's safe to say you can work on it :)

[2022-10-07 14:26] ayoayco opened #68 "[feat]: add a new demo page"
Hi, explorer! 🚀

We have a `demo` app to play around with the packages (eg., astro-reactive-form).

Why not add some crazy examples? Create a new `.astro` page in the `pages` folder of the `demo` app. This new page will then be accessible on the browser. :)

For example, if you create a `crazy-form.astro` file in the `pages` directory, just open the address in the browser: `http://localhost:3000/c

[2022-10-07 14:31] #44 closed

[2022-10-07 15:50] corners2wall commented on #68
Interesting, i would like use astro in future . Good reason for done this issue.
Assign to me, i try new technology

[2022-10-07 18:12] ayoayco commented on #68
Hi @corners2wall! 🎉

You are welcome to submit a PR for this. It is open for everyone. :)

[2022-10-07 19:24] #9 closed

[2022-10-08 10:27] ayoayco opened #70 "feat: create validator component that writes a public client-side JS"
### Idea

`<Validator />` will fs.writeFile to create/update a client-side JS file for validation and form/control state

This requires the next package `astro-reactive-validator` to be initialized

[2022-10-08 10:30] #23 closed

[2022-10-11 16:57] rsarthak commented on #51
Can you assign this to  me?

[2022-10-11 17:30] rsarthak commented on #51
By the way I've created a SVG.
Link: https://github.com/rsarthak/SVG/tree/main

[2022-10-11 17:51] ayoayco commented on #12
No worries! Thanks for the update! :)

[2022-10-11 17:54] ayoayco commented on #51
Hi @rsarthak, thank you for your interest to contribute! I have commented on your PR. Please try again :)

[2022-10-11 18:09] Swastik200 opened #79 "additional of some attributions astrophysics linking with their respective short films like"
## **Feature Request**

## **Is your feature request related to a problem? Please describe.**

- ***

## **Describe the solution you'd like**

- ***

## **Describe alternatives you've considered**

- ***

### **Additional context**

-

[2022-10-12 18:31] #79 closed

[2022-10-13 06:43] rutvikk05 commented on #51
Sent you the PR btw :)

[2022-10-13 07:02] ayoayco commented on #51
Thanks @rutvikk05! Approved!

[2022-10-13 07:02] #51 closed

[2022-10-13 11:09] #3 closed

[2022-10-13 19:26] Savio629 commented on #68
@ayoayco What should the .astro page contain?

[2022-10-13 20:02] ayoayco commented on #68
A demo of the astro-reactive-form. You can find an example on the file index.astroOn Oct 13, 2022, at 9:26 PM, Savio Dias ***@***.***> wrote:﻿
@ayoayco What should the .astro page contain?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-13 21:02] itsagift commented on #68
Hi, I'm working on this but I'm stuck on the existing demo in index.astro -- when I click submit I get "This username is undefined" (no matter what I enter). I have the same problem in creating my own example. It seems like there's a disconnect in the getFormGroup function, since no HTML element is generated with the form name (in the example of the index.astro demo, "Simple Form").

Apologies if

[2022-10-14 04:16] ayoayco commented on #68
Yes separate issue indeed. Submit is still not working. This issue is just about creating a new page with a new example form. :)

[2022-10-14 05:01] ayoayco opened #86 "[fix]: demo app submit handling"
Right now when you click Submit on the demo app, you'll get a message:

[code]

Ahhhhhhh 😱

Well, don't panic. The fix is simple... you just need to modify the `getFormGroup` method and the `Form.astro` component

_✨ Hint: `getFormGroup` is now returning `undefined` because it is not finding an element with the passed name._

[2022-10-14 05:03] ayoayco commented on #41
Hi @aswinikalyan30 how are we doing with this one? :)

[2022-10-14 12:34] ayoayco opened #87 "[feat]: control component resolver"
Right now we only have one FormControl class. But there are controls with unique characteristics. Let the component resolver give the correct control class.

[2022-10-14 15:49] ayoayco commented on #86
Hi @slashgk! The method `getFormGroup(...)` needs to be updated to correctly return the <form> element rendered by `Form.astro` so that subsequent calls to `simpleForm.get(...)` will not be undefined. Hope this helps! Let me know if you have questions. :)

[2022-10-14 22:24] itsagift commented on #86
gonna take a crack at this!

[2022-10-15 07:59] Sirsha2468 commented on #12
Hi, I want to contribute for this project, can I do this?

[2022-10-15 08:58] ayoayco commented on #12
Hi @Sirsha2468, Preet-Sojitra is already working on this. You may look for other issues or suggest another improvement for now. :)

[2022-10-15 09:01] Preet-Sojitra commented on #12
I am working on basic design. I will create PR soon, then you can work on the content part for the website.

[2022-10-15 14:30] #12 closed

[2022-10-15 14:46] #70 closed

[2022-10-15 17:19] ayoayco commented on #86
Significant changes to the project make this issue obsolete. Closing this now.

[2022-10-15 17:19] #86 closed

[2022-10-16 09:20] ayoayco opened #94 "chore(packages): shared eslint rules"
Set up the eslint configuration form all packages.

Right now we have separate eslint configuration for packages.

[2022-10-16 16:47] ayoayco opened #95 "feat(form, validator): work with popular schema builders"
zod, yup, etc.

[2022-10-16 18:33] #95 closed

[2022-10-16 20:16] ayoayco opened #96 "docs(library): add link for using gitpod on contributing.md"
Add a link to using Gitpod for contributions in our CONTRIBUTING.md doc

[2022-10-17 06:36] ayoayco opened #97 "feat(validator): server side validation"

[2022-10-17 07:26] ayoayco opened #98 "docs(library): 'getting started' tutorial"

[2022-10-17 08:50] ayoayco opened #99 "feature(form): work with popular schema builders"
### Idea:
![carbon-4](https://user-images.githubusercontent.com/4262489/196133194-48f6005a-0988-45e8-acf9-558c4c013dd8.png)

[2022-10-17 10:01] ayoayco commented on #96
Sure :)

[2022-10-17 11:11] ayoayco opened #100 "docs(library): write core principles of the project"
1. independence
2. adaptability
3. DX 🤝 UX

[2022-10-17 11:12] ayoayco commented on #99
Check zod-form-data

[2022-10-17 11:16] ayoayco opened #101 "chore: Set up Codecov"
https://app.codecov.io/gh/ayoayco/astro-reactive-library/new

[2022-10-17 11:41] ayoayco opened #102 "chore: get open ssf certification"
https://bestpractices.coreinfrastructure.org/en

[2022-10-17 18:14] ayoayco opened #103 "feat: implement feature flag mechanism"
goal is to be able to merge unfinished/unrefined work into main branch and hide behind into a feature flag. this avoid long-running branches

[2022-10-17 19:59] ayoayco opened #104 "fix(form): asterisks before labels with errors"
the asterisks should be handled by css using the :before pseudoclass and not conditionally added via the template; this makes it easy to "theme" later (ie, we can have icons instead of asterisks later)

[2022-10-17 20:02] ayoayco opened #105 "feat(validator): optimize so that only the JS needed for a validator is shipped"

[2022-10-17 20:46] ayoayco opened #106 "feat(form): allow slotting controls into the Form component"
this will take advantage of Astro's partial hydration (for huge forms)

requires #11

[code]

[2022-10-17 20:48] ayoayco commented on #106
for really huge forma this will take advantage of Astro's partial hydration

[2022-10-18 00:38] itsagift commented on #68
Going back to work on this -- I had a question about how to group radio components. In html you use the "name" property. Is there an equivalent here for form controls so that the user submits the checked value?

[2022-10-18 10:19] ayoayco opened #110 "what did you have for lunch"
### Discussed in https://github.com/ayoayco/astro-reactive-library/discussions/109

<div type='discussions-op-text'>

<sup>Originally posted by **ayoayco** October 18, 2022</sup>
they said anything and everything--so, what did you have for lunch 👀</div>

[2022-10-18 10:19] #110 closed

[2022-10-18 10:49] ayoayco commented on #68
Hi @itsagift! We still have an open issue for radio groups #5 -- I understand there are some control components not ready to be added to the demo page for this. So I see this issue as an exploratory test of what components we need to work on next.

[2022-10-19 06:13] ayoayco opened #113 "feat: explore where we can use nano for state management"
https://docs.astro.build/en/core-concepts/sharing-state/

[2022-10-19 08:23] ayoayco opened #114 "core: initialize shared directory for packages"
As the library grows, we need to have a shared 'core' directory that will contain all the stuff that is commonly used by our packages.

Right now you will find this core directory inside 'packages/form/'

[2022-10-19 11:08] ayoayco opened #115 "style(landing-page): call to action buttons"
The header section needs to be updated so that we have two "calls to action" (like in https://mui.com):
1. Get Started (primary button)
2. install text copy field

![Screen Shot 2022-10-19 at 7 15 38 AM](https://user-images.githubusercontent.com/4262489/196674842-85874093-ecbd-48df-b541-ad88b35c12b1.png)

### Discussed in https://github.com/ayoayco/astro-reactive-library/discussions/112

[2022-10-19 11:37] Lalit3716 commented on #115
I can do this, can you assign this to me?

[2022-10-19 11:54] Lalit3716 commented on #115
Can you tell me exactly where you want to place these call-to-action buttons? Should I put them where I have marked?

![Screenshot 2022-10-19 172141](https://user-images.githubusercontent.com/84276404/196683317-f03ff446-b1a8-4fb2-87fc-b6009b3dd1d5.png)

[2022-10-19 12:24] ayoayco commented on #115
Hi @Lalit3716! You can remove the Astro logo, then place the call to action buttons under the text "Build fast websites, faster."

[2022-10-19 14:35] #115 closed

[2022-10-19 16:05] Lalit3716 commented on #94
Hi, I can try to do this. If you want you can assign me this!

[2022-10-19 16:32] Lalit3716 commented on #94
So we I get this right you want to have a single eslintrc  file in the root of packages directory and remove ESlint configuration from individual packages right ?

[2022-10-19 17:07] Lalit3716 commented on #94
Great then I will do it soon thanks for clearing!

[2022-10-20 06:00] ayoayco commented on #5
great job @Icyscools 🚀

[2022-10-20 06:00] #5 closed

[2022-10-20 09:59] #94 closed

[2022-10-20 10:02] Lalit3716 commented on #41
Is it in progress if it is not then maybe I could write some tests?

[2022-10-20 10:42] ayoayco commented on #41
This issue has been stale for a while. I think it's safe to say you can work on this @Lalit3716 -- assigning to you

[2022-10-20 12:01] Lalit3716 opened #118 "style(landing-page): Improve responsiveness of the landing page"
We should improve the responsiveness of the landing page right now it doesn't look good on mobile devices!

Screenshot:
![Screenshot 2022-10-20 172745](https://user-images.githubusercontent.com/84276404/196942886-5592fd3c-718b-4721-8eec-e02b4e96dac8.png)

Discussed in #112

[2022-10-20 14:14] #41 closed

[2022-10-20 15:44] Preet-Sojitra commented on #118
Hey @Lalit3716 are you working on this? If not, then I want to work on this

[2022-10-20 15:53] Lalit3716 commented on #118
Sure @Preet-Sojitra, I haven't started working on this you can go ahead if @ayoayco agrees!

[2022-10-20 16:07] ayoayco commented on #118
yes go ahead guys 👍

[2022-10-20 16:13] Preet-Sojitra commented on #118
Will start working on this 🚀

[2022-10-20 16:25] ayoayco commented on #97
this one needs some refinement/investigation because it is not 100% clear to me

i got this idea from seeing a video

if you are willing to research a bit before starting, that's good. otherwise i can do the research part but i don't know when i will have time yet

[2022-10-20 16:28] Lalit3716 commented on #97
Okay sure I will try to research on it!

[2022-10-20 19:07] #24 closed

[2022-10-20 22:36] itsagift opened #121 "bug(form): Radio groups don't work when passing more than one form group"
## **Bug Report**

### **Describe the bug**

- When a user passes more than one form groups to the Form component, the radio values don't show up -- instead, it simply shows the radio label with one radio button (instead of the number shown in the array).

### **Is this a regression?**

No.

### **To Reproduce**

1. Create multiple form groups, at least one of which has an element of type "radio".

[2022-10-20 22:52] #68 closed

[2022-10-20 23:02] ayoayco commented on #121
thanks for reporting!

[2022-10-21 01:24] itsagift commented on #121
I can work on this btw!

[2022-10-21 01:26] ayoayco commented on #121
oh yeah of course! I'm thinking you can create a new `RadioGroup.astro` component to clean up `Field.astro`

can you try this approach?

[2022-10-21 09:42] ayoayco commented on #11
Yes indeed! Preferably one for each of the possible values for `FormControl.type`, though not expected a full implementation for all of them. More on just having initial components for each.

There's another bug issue where I mention a clean up on the `Field.astro` component by creating a new `RadioGroup.astro` component. But if you can do that for as well on this issue (I think it fits the scope)

[2022-10-21 10:07] ayoayco commented on #121
As I mentioned in #11, if @Icyscools is _cool_ with it, then the RadioGroup.astro will be taken care of there so the is issue can focus on a fix :)

[2022-10-21 12:07] #114 closed

[2022-10-21 13:47] ayoayco opened #122 "feat(validator): server-side rendered validation errors"
When a control has a validator and was dynamically set with an invalid value using `setValue`, the validator should run on the server when the component is rendered so it will ship to the client with appropriate validation error attributes.

This does not happen right now because validation only happens on the client-side with the onBlur event.

This will be important for software with a separate

[2022-10-21 21:46] Icyscools commented on #106
After I work on #11, I noticed this is the new method to add input control types into a form.

However, I want to ask if you'll keep the current method (passing the `FormGroup` object into `Form`) or not.
If you want to keep it, I want to ask how we should handle the case like this.
[code]
In this case, we use both methods creating a form but it got confuses.
Should it render components from `Form

[2022-10-21 22:09] ayoayco commented on #106
Try it like this
[code]

Then in the control component, see if the `FormGroup` object of the parent is accessible and then you can just `form.get(controlName)`

[2022-10-21 22:18] ayoayco commented on #106
Then I think we can support both, the slotted controls rendered last.

If supporting both is hard for now we prioritize slotted controls.

[2022-10-21 22:35] itsagift commented on #121
@ayoayco Sounds good, should probably just be handled there

[2022-10-21 22:35] #121 closed

[2022-10-22 02:35] #122 closed

[2022-10-22 02:40] ayoayco opened #124 "feat(form): validateOnLoad prop"
Since #122 we now server-render validation errors by default. This task is for adding a prop 'validateOnLoad' for the Form component that behaves as follows:
1. if true: server-render validation errors
2. if false: do not server-render validation errors

Make the property optional, but set to true by default

[2022-10-22 02:56] ayoayco commented on #106
Hey @Icyscools if you have components for controls that take FormControl as input that's good enough for #11. :)

[2022-10-22 07:34] Icyscools commented on #106
Great! I'll take this approach.

[2022-10-22 08:19] #118 closed

[2022-10-22 09:22] Preet-Sojitra opened #126 "feat(landing-page): add functionality of "copy to clipboard""
## **Feature Request**

- Currently there is `copy to clipboard` icon on the landing page. It is dummy and not functional. There is no way to copy the command pf installation.
![image](https://user-images.githubusercontent.com/87543808/197326309-91cdff23-b269-4b4e-9c7b-0f528bfc7a06.png)

## **Describe the solution you'd like**

-  We can add functionality of copying the command to clipboard.

[2022-10-22 09:31] CA-MKSingh commented on #126
Hey @Preet-Sojitra , I would like to work on this, can you please assign this to me?

[2022-10-22 09:32] LeGrandMAG commented on #126
I would like to work on this feature. It would be great if  you can assign this to me.

[2022-10-22 09:33] Preet-Sojitra commented on #126
I don't have rights to assign the issue. @ayoayco Please assign this issue to @CA-MKSingh

[2022-10-22 09:34] CA-MKSingh commented on #126
thanks @Preet-Sojitra and @ayoayco

[2022-10-22 09:37] ayoayco commented on #126
Thanks @CA-MKSingh and looking forward to your PR! Just reach out if we can help :) @Preet-Sojitra and @Lalit3716 are more familiar about the landing page right now 🚀

[2022-10-22 17:38] #126 closed

[2022-10-22 17:59] munyanezaarmel commented on #96
if this issue is still going on I would like to contribute @ayoayco

[2022-10-22 18:16] ayoayco commented on #96
Okay, looking forward to a PR :)

[2022-10-22 20:31] #96 closed

[2022-10-23 08:02] ayoayco opened #132 "feat(form): reactivity powered by solidjs"
As of now our `form` component is only server-rendered and offers no real reactivity client-side, though there had been an effort to explore client-side deserialization and rebuilding the `FormGroup` and `FormControl` on the client that allowed some progress in our `validator` library.

In this issue, we implement true reactivity by taking advantage of recent innovations by more mature libraries.

[2022-10-23 10:19] Lalit3716 opened #133 "feat(landing-page): Add Astro Section"
As discussed in #112

[2022-10-23 15:08] durgeshsahu007 opened #134 "Update Readme:"

[2022-10-23 15:44] ayoayco commented on #132
Working in this!

[2022-10-23 21:31] ayoayco opened #136 "fix(form): independence from validator broken"
After implementing server-side rendered validation errors, the validator package was needed in `form-control.ts`

This breaks the independence of our packages.

Find a way such that validator is not a dependency of the form package.

[2022-10-23 21:47] ayoayco opened #137 "docs: add a link to a stackblitz example"
Create a StackBlitz with example usage of our form and validator packages.

Then update our README with a link to the StackBlitz :)

[2022-10-24 06:03] Preet-Sojitra opened #138 "feat(landing-page): Add Main Section"
Currently we have discussion #112  regarding landing page. There @ayoayco has post the regarding the content of landing-page and design which looks like this 👇 .

![image](https://user-images.githubusercontent.com/87543808/197457703-6b0bf582-e4c0-4f1b-8747-dc8406f384fb.png)

Regarding Main section first of all we have to thought of some good color palette, so that we can move forward.

[2022-10-24 07:03] ayoayco commented on #138
I think you can experiment with the color palette, as long as it plays well with the color of our logo. :)

[2022-10-24 08:07] ayoayco opened #139 "refactor(form): deprecate `labelPosition` prop"
Remove the `labelPosition` prop, and implement the following:
1. By default labels are on the left
2. For checkboxes, labels are on the right

This is in preparation for implementing an RTL flag later for localization.

[2022-10-24 08:15] ayoayco opened #140 "feat(form): implement unique IDs"
Right now we use the 'name' value for FormGroup and FormControl to add IDs. We will have problems if users don't give unique names in their configuration, which is likely to happen. For this reason, internal IDs should not depend on the configuration.

The name should stay the same, where we use what is provided by the configuration. However, for IDs, we need to make sure they are unique because w

[2022-10-24 08:26] ayoayco opened #141 "fix(validator): requiredChecked for checkboxes not working client-side"
As the title says, `requiredChecked` is not working on the client during `onBlur` event. It is working on server-side rendered pages, but if you use the TAB key to fire an `onBlur` event on the browser, the validation error is cleared.

Can be recreated if you have the following configuration:

[code]

[2022-10-24 08:33] ayoayco commented on #136
Found solution here: https://stackoverflow.com/questions/15302618/node-js-check-if-module-is-installed-without-actually-requiring-it

[2022-10-24 08:51] ayoayco opened #142 "refactor(form): implement `options` prop for Radio"
Right now the options are set using the `control.value` prop. Refactor such that we have a new `options` prop that accepts the array of `RadioOption`, and `value` should accept a string. Remove the `checked` prop from `RadioOption`, and refactor the `RadioGroup.astro` component such that if `control.value` is equal to the `option.value`, then it is checked.

After the refactor, the following shoul

[2022-10-24 09:07] ayoayco opened #143 "feat(form): Dropdown control"
We don't have support now for a dropdown 😅

- Implement a new `dropdown` control type with configuration properties similar to the discussed configuration of radio in #142
- Create a new `Dropdown.astro` control component that will be rendered when `control.type` is dropdown (see implementation for `RadioGroup.astro`
- `Dropdown.astro` will render `<select>` and several `<option>` tags depending o

[2022-10-24 10:26] ayoayco opened #144 "feat(form): readOnly flag"
Implement a new `readOnly` boolean prop for the `Form.astro` component. When true, all fields are then rendered as uneditable.

✨ Take note : not disabled, but readonly.

[2022-10-24 11:04] ayoayco opened #145 "chore: bump version scripts should check for outdated deps"
Running the scripts `patch`, `minor`, and `major` should also run `outdated` so we get warned of publishing with outdated deps

[2022-10-24 11:32] Rishabhraghwendra18 commented on #145
Hi @ayoayco I will like to work on this issue

[2022-10-25 07:55] tolkadot commented on #137
I'm going to have a go at this one.

[2022-10-25 07:56] #142 closed

[2022-10-25 08:08] ayoayco opened #148 "chore: create script for updating RELEASE.md before PR"
✨ Desired outcome: easily update correct RELEASE.md file for a change that a PR will bring

Running the script should be able to
1. ask for scope and type of change the PR will bring in
2. correctly identify the appropriate RELEASE.md file
3. ask for message
4. write message to appropriate section of the file (fix or feat)

The script could later be used for automating update of change logs depend

[2022-10-25 08:49] ayoayco commented on #137
Okay @tolkadot! 🚀 Let us know if we can help :)

[2022-10-25 09:23] ayoayco opened #149 "test(validator): add tests for all validator functions"
✨ Desired outcome: 100% test coverage for the validator functions ;) see the file in `packages/validator/core/validator-functions.ts`

[2022-10-25 09:27] vancassa commented on #149
Hi, may I work on this?

[2022-10-25 09:38] ayoayco commented on #149
Sure @vancassa! Looking forward to a PR :)

[2022-10-25 15:27] ayoayco commented on #132
Playing around with solid: https://playground.solidjs.com

[code]

[2022-10-26 11:27] ayoayco commented on #104
Still needs some work. See `Label.astro` component in our form package :)

[2022-10-26 16:01] ayoayco commented on #137
Maybe codesandbox is also a good option https://twitter.com/compuives/status/1566826765699489792?s=46&t=iJO-uaIeo0jhTOpWDlvqLw

[2022-10-26 18:31] munyanezaarmel commented on #137
@ayoayco if this issue is still going on I would like to make a PR

[2022-10-27 04:56] vancassa commented on #149
I'm sorry, I've looked at the repo and tried some stuff but it seems to be beyond me. I'll unassign myself so others can take on this issue instead.

[2022-10-27 08:22] tolkadot commented on #137
@ayoayco
I've set up a code sandbox here -> https://codesandbox.io/p/github/tolkadot/astro-reactive-library/draft/sharp-lalande?file=%2Fapps%2Fdemo%2Fsrc%2Fpages%2Fpizza-delivery.astro

[2022-10-27 09:04] ayoayco commented on #137
Yeah you're right. I will try to for it to this account then let you know

[2022-10-27 10:11] Lalit3716 commented on #149
Hi, I would like to take this one @ayoayco?

[2022-10-27 10:12] Lalit3716 commented on #97
Hey @ayoayco, well I tried to understand this one but I don't think I get it. 😭

[2022-10-27 10:38] ayoayco commented on #97
No worries @Lalit3716 I hope you had fun anyway :)

[2022-10-27 10:46] Preet-Sojitra commented on #138
@ayoayco You have desgined the logo of astro-reactive-library? I want the logo th

[2022-10-27 11:54] ayoayco commented on #138
The logo is in .svg format, and can be found in `.gihub/assets`

I did not design it though, was contributed by a contributor :)

[2022-10-27 13:30] ayoayco opened #151 "feat(form): add method setValidators to FormControl"
✨ Desired outcome: a new method in the FormControl class that allows setting the validators prop

[2022-10-27 16:34] ayoayco commented on #137
@munyanezaarmel Yes this issue is open to more than one PR. You have to create a new astro project with stackblitz or codesandbox, and use our packages. See comment above :)

[2022-10-27 19:45] munyanezaarmel commented on #137
@ayoayco it looks like opening a whole repo in stackblitz is taking too much time  is there any how we can set like branch
![image](https://user-images.githubusercontent.com/73389979/198383837-201b9096-21ce-4081-8c26-df8729e9ee3a.png)

[2022-10-27 19:57] ayoayco commented on #137
@munyanezaarmel as mentioned in previous comment, you should not use this repo but instead create a new astro project of your own and install our packages from npm :)

[2022-10-28 00:20] ayoayco opened #152 "docs: update packages table in our readme"
Make the following changes
- in the packages table, Link the version of the package to their respective RELEASE.md doc. Currently they are linked to the npm page

[2022-10-28 00:32] aiden5221 commented on #152
Please assign this task to me

[2022-10-28 01:01] aiden5221 commented on #152
PR created

[2022-10-28 03:01] itsagift commented on #151
Can try this!

[2022-10-28 03:09] ayoayco commented on #151
Go for it @itsagift 🚀

[2022-10-28 03:37] AllanSiqueira commented on #144
Can I work on this? :)

[2022-10-28 04:14] itsagift commented on #151
Issue I'm running into now: returned to the simplest possible validator method, but no matter the method I've tried, in order for validator styling to work on the first render, there has to already be a validator array.

I think the issue lies in Form.astro and the data attributes, but I can't be 100% sure. I'm confused because using the setValue method will show validation styling on first render

[2022-10-28 05:13] munyanezaarmel commented on #137
Hey @ayoayco  refer to this and tell me if am on right track https://stackblitz.com/edit/github-ze9ebb-tthuka?file=.stackblitzrc,package.json

[2022-10-28 08:37] ayoayco commented on #144
Hi @AllanSiqueira! Sure, let us know if something is not clear :)

[2022-10-28 08:41] #133 closed

[2022-10-28 08:48] ayoayco commented on #151
When the value changes on `setValue` we call a method `validate(value, validators)` ... I think you should call this too when the validators change with `setValidators`. Can you check, @itsagift?

[2022-10-28 09:08] ayoayco commented on #137
You don't need the install script on the package.json. For stackblitz adding a dependency can be found under the Files on the side menu. See this: https://stackoverflow.com/questions/60840642/how-to-install-npm-packages-on-stackblitz

Then when you successfully add our packages as dependency, create an astro page using it. See `pages` in our `demo` app in this repo for examples :)

[2022-10-28 09:46] munyanezaarmel commented on #137
@ayoayco by referring to this StackOverflow, not all projects have a dependency panel  if it is not there you have to modify the package.json manually

[2022-10-28 09:50] ayoayco commented on #137
Ah hmm then I guess try to add our packages in the dependencies manually. Wait let me check your package.json :)

[2022-10-28 09:51] munyanezaarmel commented on #137
here https://stackblitz.com/edit/github-ze9ebb-tthuka?file=package.json%3AL2,src%2Fpages%2Fpizza-delivery.astro

[2022-10-28 09:52] ayoayco commented on #137
That looks right! Does it build?

[2022-10-28 09:57] munyanezaarmel commented on #137
Do you mean I have to add a build script check this how I added pizza page  https://stackblitz.com/edit/github-ze9ebb-tthuka?file=package.json%3AL2,src%2Fpages%2Fpizza-delivery.astro

[2022-10-28 10:04] Icyscools commented on #143
Can I work on this?

[2022-10-28 10:12] ayoayco commented on #137
It looks good, I think you just have to remove the `npm install` script at the "start" script:
[code]

[2022-10-28 10:16] ayoayco commented on #143
Yes of course @Icyscools :)

[2022-10-28 10:26] ayoayco commented on #137
You may also need to update the astro version, I noticed you have an older version... your package.json should look something like this:

[code]

[2022-10-28 10:29] munyanezaarmel commented on #137
@ayoayco  i think stackblitz  needs to install packages every time page reloads by removing the npm install am getting error
![image](https://user-images.githubusercontent.com/73389979/198566567-9b7357c7-75d4-4bc0-8a29-dfd3b356867a.png)

[2022-10-28 12:07] #152 closed

[2022-10-28 12:12] ayoayco commented on #137
Reopened for a codesandbox example :)

[2022-10-28 13:24] ayoayco opened #156 "docs: fix stackblitz link on readme"
This needs to be an HTML image link like the others 😅
![image](https://user-images.githubusercontent.com/4262489/198607649-7c36a0da-cfad-4df3-a3b7-a207c9f1a2b8.jpeg)

[2022-10-28 13:33] Anish-Sarawgi commented on #156
Can i work on this?

[2022-10-28 13:37] ayoayco commented on #156
Yes @Anish-Sarawgi :) make sure images/badges and links are working on the document. 🚀

[2022-10-28 13:56] Anish-Sarawgi commented on #156
Hey @ayoayco,
I have sent the PR. Please review it.

[2022-10-28 14:36] ayoayco commented on #156
One change request @Anish-Sarawgi :)

[2022-10-28 14:37] Anish-Sarawgi commented on #156
I have made the required changes. Please have a look.

[2022-10-28 17:21] munyanezaarmel commented on #137
@ayoayco check this https://codesandbox.io/s/astro-reactive-library-u72dgj?file=/package.json

[2022-10-28 17:48] #143 closed

[2022-10-28 18:13] munyanezaarmel commented on #102
@ayoayco if this issue is still going on you can assign it to me

[2022-10-28 18:17] ayoayco commented on #102
Sure @munyanezaarmel you can start in their checklist. Let me know if something needs my help.

[2022-10-28 18:40] ayoayco commented on #102
Nope 😅 I think we're not ready for this...

[2022-10-28 18:46] munyanezaarmel commented on #102
@ayoayco there are some checklists that require more explanations I think this should be self-assigned

[2022-10-28 18:56] ayoayco commented on #102
Okay got it. Thanks for looking into it! @munyanezaarmel

[2022-10-28 19:57] ayoayco opened #161 "feat(form): add a TextArea control"
✨ Desired outcome: a new `TextArea.astro` component that will be rendered when the `Control.type` is 'textarea'

You will also need to implement an interface in control.types.ts which should define the control props that a TextArea could take. It extends the ControlBase and also adds some new props: `rows` and `cols`

The `TextArea.astro` should render a textarea HTML element

See pattern of chang

[2022-10-28 20:13] #137 closed

[2022-10-28 20:14] #104 closed

[2022-10-28 20:22] ayoayco opened #162 "feat: add a new demo page!"
Hi, explorer! 🚀

We have a demo app to play around with the packages.

Why not add some new real-life example? Create a new .astro page in the pages folder of the demo app (found in `apps/demo`). This new page will then be accessible on the browser. :)

For example, if you create a `retreat-survey.astro` file in the pages directory, just open the address in the browser: http://localhost:3000/retre

[2022-10-28 21:41] #11 closed

[2022-10-28 23:31] #106 closed

[2022-10-28 23:31] ayoayco commented on #106
Closing this for now so we can focus on control components.

[2022-10-29 00:00] NeilAn99 commented on #162
Hi, can I work on this?

[2022-10-29 10:23] NeilAn99 commented on #162
Created a pull request, let me know if I need to change anything! #164

[2022-10-29 10:45] #162 closed

[2022-10-29 11:19] #87 closed

[2022-10-29 18:59] #28 closed

[2022-10-30 11:54] ayoayco opened #168 "feat(validator): validation categories: error, warning, info"
Not all validation result should be an error. Think of weak passwords. Or some warning that the value is near a threshold.

Implement a `category` prop to setting up validators that, when invalid is triggered, will set the correct attribute.

Right now we set `data-validation-haserror`. The goal is to have other two
- `data-validation-warning`
- `data-validation-info`

`showValidationHints` will n

[2022-10-30 16:30] itsagift commented on #151
@ayoayco Sorry for late reply -- will do!

[2022-10-30 16:40] itsagift commented on #151
My latest commit has the validator method. I checked the setValue method and it seems like -- at least on the initial render -- the validate method is not needed in setValue in order to display properly. **When** the validation list is in the initial element. But yeah, none of this works with the initial render using setValidate.

[2022-10-30 18:08] ayoayco commented on #151
Ah no worries. Yeah, if setValue is not used, i.e., if there is a value in the control configuration given to the FormControl constructor it is not needed. But if I remember correctly, it will be needed when, for example, you change the value programmatically with a control.setValue(...)

I can also take a look at your branch if you create a PR. Let me know! Maybe I'll just create a separate issue

[2022-10-30 19:18] Icyscools commented on #161
Hi @ayoayco, Can I work on this?

[2022-10-30 19:46] ayoayco commented on #161
Hi @Icyscools of course!

[2022-10-30 19:51] Icyscools commented on #161
What should the default values for `rows` and `cols` be?

[2022-10-30 19:53] ayoayco commented on #161
Good question. 3 rows is good then you can play around the cols so it is close to default with of a text input :)

[2022-10-31 04:11] Lalit3716 commented on #149
Hey @ayoayco, wanted to know if I am allowed to add some libraries for this task like ts-node/ts-mocha because I can't import validator functions in test files before transpilling Typescript. Or if you have some better suggestions do let me know!

[2022-10-31 06:35] ayoayco opened #171 "docs: Mention in contributing that we use Conventional Commits"
https://www.conventionalcommits.org/en/v1.0.0/

[2022-10-31 07:35] ayoayco commented on #149
Oh I didn't know that. Yes pls add what you need as a dev dependency :)

[2022-10-31 16:27] #144 closed

[2022-10-31 19:04] Icyscools commented on #139
If this issue still opening, you can assign this to me. 😄

[2022-10-31 23:21] #161 closed

[2022-10-31 23:22] ayoayco commented on #139
Alright! :)

[2022-11-01 15:24] #139 closed

[2022-11-03 12:35] Lalit3716 commented on #149
Hi @ayoayco, I tried everything (ts-mocha, changing compiler options in tsconfig, etc...) but nothing is working out for me. I just can't import external typescript files inside test files 😭. Should I open a draft-pr with my latest changes so that you can have a look at what I have tried so far ?

[2022-11-03 18:10] ayoayco commented on #149
Oh yeah maybe I can help if you open a draft PR :)

[2022-11-04 08:50] ayoayco opened #175 "feat(form): add `setValue` method to FormGroup class"
✨ Desired outcome: a new `setValue` method in the FormGroup class that allows setting the values of the form controls given an argument with the following shape:

[code]

[2022-11-04 16:32] #171 closed

[2022-11-05 08:49] ayoayco commented on #132
Thought about this long and hard. I wanna try to implement some reactivity without the additional dependency. Will reopen if needed.

[2022-11-05 08:49] #132 closed

[2022-11-07 04:14] alexsam29 commented on #140
HI, I've been looking through the code and I think I understand how this works. I could give it a try.

I found a NPM library that can generate short unique IDs (https://github.com/simplyhexagonal/short-unique-id). Would I be able to use that for IDs or do you want a custom function made?

[2022-11-07 05:26] ayoayco commented on #140
Hi @alexsam29 I think that should be okay! Let me know how it goes :)

[2022-11-07 08:19] ayoayco opened #179 "chore(form): update package homepage"
With the release of our docs site, we can now use it as the homepage as defined in the `package.json`

Update the `package.json` file for the form package (packages/form) to have the homepage property set to:
https://docs.astro-reactive.dev/en/api/form/form-component/

[2022-11-08 07:53] #140 closed

[2022-11-09 12:35] ayoayco opened #184 "fix(landing-page): seems needed JS is not shipped"
This is embarrassing 🙈 Looks like JS needed in the landing page is not bundled. So the copy button thing is not working.

https://astro-reactive.dev

[2022-11-09 18:36] Preet-Sojitra commented on #138
Update: I am busy in my studies so I won't be able to complete this task quickly. I have completed more than 60% of the work. So if anybody want to work on this issue can take this issue, else I will work on it once my exams gets over. So @ayoayco for now you can unassigned me from this issue.

[2022-11-09 19:46] ayoayco commented on #138
Hey @Preet-Sojitra thanks for letting us know. No worries we all take tasks in this project in our own pace. Just pop in and out of discussions when you can. Hope you have great exam results! 🤗

[2022-11-10 18:02] #179 closed

[2022-11-10 18:50] #184 closed

[2022-11-10 19:15] fazzaamiarso commented on #2
Hey @ayoayco, How about TurboRepo? It seems fast and reliable. Astro's repo also migrated to turborepo.

 Although it's ridiculous as I'm not familiar with Monorepo, I would like to help with this issue and learn as I go.

[2022-11-10 22:14] ayoayco commented on #2
Heard good things about turborepo as well. If Astro uses it i think it's a good idea to follow since we have tests for Astro components in our pipeline.

Yeah I don't really expect you to know everything before taking this on :) but can you also document instructions on how to use the tooling so it is easy for future maintainers to pick up?

[2022-11-11 05:55] fazzaamiarso commented on #2
Sure thing! Should I document it in a new markdown file or in contributing.md?

[2022-11-11 06:44] ayoayco commented on #2
Let's have it in a new file, going to be for maintainers rather than contributors later. :)

Don't hesitate to put here some ideas/questions. This task might need some iterating to get full implementation, but it will be a significant improvement in our project! 🚀

[2022-11-11 11:49] ayoayco opened #188 "feat(common): types and autocompletion"
We want to do some exploratory investigation to see how we can improve developer experience with regards to using our packages in terms of the types we provide and autocompletion on VS Code

[2022-11-11 17:40] fazzaamiarso commented on #2
@ayoayco I've made a minimal working setup PR. I think we should bundle `packages` so they can be optimized (e.g. minified). We can use [tsup](https://tsup.egoist.dev/#what-can-it-bundle) as bundler.

and I'm also thinking to setup versioning per this guide [https://turbo.build/repo/docs/handbook/publishing-packages/versioning-and-publishing](https://turbo.build/repo/docs/handbook/publishing-packa

[2022-11-11 20:42] Icyscools opened #190 "chore(docs): change a site option in docs config"
Hi, I have noticed a recent PR (#189) doesn't pass **Mixed content - astro-reactive-docs**.

I have looked in a [Netlify log](https://app.netlify.com/sites/astro-reactive-docs/deploys/636e87e278ce1e0008faa558) and tried to build the docs in a current main branch.
As a result, I found out the build files have `http://astro.build` in the header as a canonical link within our docs site.

This is beca

[2022-11-12 01:12] NeilAn99 commented on #175
Hey, I would like to try working on this.

[2022-11-12 06:00] ayoayco opened #192 "feat(form): unique id for radio group items"

[2022-11-12 06:18] ayoayco commented on #175
Thank you, @NeilAn99! I have reviewed your PR :)

[2022-11-12 06:53] ayoayco commented on #149
Thank you @Lalit3716 -- we now know that this issue is not ready. I need to reassess our test tooling. Thanks a ton!!

[2022-11-12 06:53] #149 closed

[2022-11-12 06:56] ayoayco opened #194 "chore(library): investigate test tooling improvement"
After some investigation on #149 and #174 we discovered that we need an improvement in our tooling.

What we have currently is specifically set up to test Astro components. However, some packages contain more Typescript functions (like Validator) which also need to be tested.

The problem is that our current tests are JS files and it appears we had difficulty importing to test TS functions.

We ne

[2022-11-12 06:57] #192 closed

[2022-11-12 07:17] ayoayco commented on #190
Great observation @Icyscools! Thanks for looking into this and reporting!

[2022-11-12 07:29] ayoayco commented on #2
Thank you! I checked the PR and have some questions. I think we should also have an experiment branch for this first. So we can all have a test with the new set up first before we merge to master. I will set this branch up.

[2022-11-12 07:32] ayoayco commented on #2
Let's use the branch `feat-turborepo-dev` 🚀 You can change your PR to target this branch instead of `main`

[2022-11-12 07:36] ayoayco opened #195 "docs: create initial documentation of Validators"
Who wants to try writing some docs? I will help in completion so don't worry about it being incomplete at first. :)

In this issue, add a new `validators.md` file in the API docs with the title `Validators`

In this new doc, add a section for each of the functions in the Validators class found in `/packages/validator/core/validator-names.ts`

Bonus points if you write a good description of the fun

[2022-11-12 07:52] ayoayco opened #196 "feat(hyperdrive): create package for resumable states"
In this issue I will work on a new package `hyperdrive` whose responsibility are:
1. serialize some object state in the server
2. help rebuild the object with correct state in the browser

This will allow our components to breakthrough the barrier between server and client.

Acceptance criteria for this issue is to support for the FormGroup and FormControl's properties: `isValid` and `isPristine`

[2022-11-12 08:18] Lalit3716 commented on #168
Hi @ayoayco, I want to try this can I proceed?

[2022-11-12 08:24] Lalit3716 opened #197 "feat(landing-page): show toast message feedback for copy button"
## **Feature Request**
Add a toast that says 'Copied' when the user clicks on the copy button.

## **Is your feature request related to a problem? Please describe.**
Currently, when a user clicks on copy button on the landing page, there is no visual indication that the text has been copied which can be confusing for the users.

## **Describe the solution you'd like**
I'd like to have a toast that

[2022-11-12 08:34] ayoayco commented on #197
Thanks for creating the issue @Lalit3716!

Do you think it's possible to have a fun animation when the buttons is clicked? Like sparkles? ✨ 🤪

[2022-11-12 08:36] ayoayco commented on #168
Alright! 💪

[2022-11-12 08:46] Lalit3716 commented on #197
Yeah probably but it maybe be hard to it without any third party animation lib 😅

[2022-11-12 18:35] Icyscools commented on #190
I can do it. 😄

[2022-11-12 18:54] #190 closed

[2022-11-12 21:05] ayoayco opened #199 "❌ netlify build failing"
We have an open issue reported at netlify/build: https://github.com/netlify/build/issues/4689

When this gets resolved, we should see our builds passing. Then, we can check what we can improve on our end.

Keeping this issue here open for everyone's attention, so do not worry if you see some ❌ on your PRs for now 🙂

What's important is that the `Build and Test` pipelines are kept passing ✅

[2022-11-12 21:15] #175 closed

[2022-11-12 21:30] ayoayco commented on #138
Since we are holding back on adding solid as dependency, the remaining things to do in this task are
- Display project logo
- main section with light bg
- show astro section (currently commented out)

No need to show astro and solid logos, and we can keep the simple text that we currently have "Astro. Reactive"

[2022-11-14 12:24] fazzaamiarso commented on #2
@ayoayco can I try something? could you publish an experimental version with turborepo by using `npm publish --tag experimental` in turborepo branch so we can test it out? for reference [https://formidable.com/blog/2020/publish-npm-packages/](https://formidable.com/blog/2020/publish-npm-packages/)

I will make the PR with bumped up version of the packages.

[2022-11-14 13:30] ayoayco commented on #2
Yup! Anything you think we need just point the PR to the branch `feat-turborepo-dev`

[2022-11-14 13:30] ayoayco commented on #2
Then let me know what I can do on my end :)

[2022-11-15 15:02] ayoayco opened #201 "feat(form): implement FormControl and ControlConfig prop `triggerValidationOn`"
`triggerValidationOn` prop will determine when the event for validation on the client will fire.

Right now we only attach an event listener for `onBlur`.

[2022-11-16 14:07] Lalit3716 commented on #168
Hi @ayoayco, I wanted to confirm that do you want this category prop on the `Form` component right?
Or maybe you want it on validation level?
For e.g
<br>
![Screenshot 2022-11-15 001139](https://user-images.githubusercontent.com/84276404/202201892-52b84050-86b2-4524-bcfc-0d69e7d95032.png)

[2022-11-16 15:59] ayoayco commented on #168
Good question! I totally should have clarified more. This is what I'm thinking, but you can of course explore if it is possible: We support what we currently have now (so that the current API should not break) and also something support this

[code]

So it would be similar to how we implement the 'options' property for a dropdown, we support both a single string or an object with a `value` and `na

[2022-11-17 09:00] Lalit3716 commented on #168
Alright I will try to implement it that way, thanks for clarifying!

[2022-11-21 12:16] #194 closed

[2022-11-21 14:16] ayoayco commented on #2
Ah got it. Thanks for clarifying that one, now I know what to look out for. ;)

[2022-11-22 09:18] Icyscools commented on #141
I have investigated this issue. It's seemed the checkboxes always have value as `on` whether checked or not. It was the default value for the checkbox form. Also, the value of checkboxes is used as a value given to the data submitted with the checkbox's name. (See also in [MDN's doc](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox))

I think the solution for this issue is

[2022-11-22 14:26] ayoayco commented on #141
Thanks for looking into this! Yes, with this issue, the validation function `requiredChecked` should find the `checked` attribute of the HTML input element. We can focus on just this one validation function, for now, to keep this issue small.

[2022-11-22 15:12] Icyscools commented on #124
I'm not quite sure about a behavior when it doesn't use server-render validation. Is it use client-side validation, or does it just render a form with no validation error messages? Can you give me more detail on this?

[2022-11-22 17:46] ayoayco commented on #124
You will find a Validator.astro component which is reaponsible for putting on the HTML `<script>` tag containing client-side logic. That's a good place to start to understand client-side validation :)

[2022-11-22 18:37] Icyscools commented on #124
Alright! Can I do this? I want to try. 😄

[2022-11-22 19:29] ayoayco commented on #124
Of course!!!

[2022-11-23 14:47] ayoayco commented on #2
Published experimental versions of our packages (common, form, validator) @fazzaamiarso

[2022-11-23 15:05] ayoayco commented on #2
I think everything works!

[2022-11-23 19:05] #2 closed

[2022-11-23 19:20] fazzaamiarso opened #207 "fix(ci): validator test timed out in CI with turborepo"
## **Bug Report**

### **Describe the bug**
In CI environment, running tests with `turbo` command causes timeout error, but works locally.

[2022-11-23 19:45] ayoayco commented on #207
Thanks @fazzaamiarso! Looks like your working on this so assigning to you too :)

[2022-11-25 12:58] ayoayco opened #211 "feat(validator): for client-side validation, use unique ID as selector of the form"
Right now the `<script>` in Validator.astro which defines how event listeners are attached in the browser is using the element `<form>` as selector.

Use the unique ID prefixed with `arl` to select the correct form. :)

[2022-11-25 20:08] Icyscools opened #212 "test(validation): add tests for checking a validation on checkbox inputs"
On PR #205, I did solve a problem on #141 which fix a validation on checkbox inputs, but I didn't add a test for it.

To ensure that our code is still functioning properly, we should add some tests to it. However, I'm unsure how to create a test case for this issue, so I need some help. 😅

In this issue, we need to
- add some tests on a validation package for testing #205

[2022-11-25 20:35] #141 closed

[2022-11-25 20:40] Icyscools commented on #124
@ayoayco I trying to learn our codebase a bit. 😅 If I understand correctly, each `FormControl` will do a server-render validation on the constructor, right?

[2022-11-26 17:34] #168 closed

[2022-11-26 17:35] ayoayco commented on #124
Yes I think you are looking in the right place. If validateOnLoad prop is false don't proceed with the validation that happens in FormControl.

[2022-11-26 19:06] Icyscools commented on #124
Okay! I want to ask if I can add the `validatiOnLoad` to `FormControl` and `FormGroup` in constructor parameters rather than add in Form component. I think this solution is easier for us to implement.

[2022-11-27 00:24] ayoayco commented on #124
Hmm Maybe it will be easier for me to understand if you open a draft PR 😄

[2022-11-27 07:56] alexsam29 commented on #201
Hi, I may want to work on this, but I'll need some further explanation if possible. I get it, but at the same time I'm slightly confused.

[2022-11-27 09:10] ayoayco commented on #201
In the `Validator.astro` component, found in `packaged/validator`, you will find a `<script>` where the event listener for the browser is initialized.

Right now the event listener is only attached for `onBlur`

This issue is to enable other events like type onKeyPress

You may need to create a type, like:

[code]

[2022-11-27 22:47] alexsam29 commented on #201
hmmm...Okay I get that part. What I'm most confused about is the prop `triggerValidationOn` that you mentioned.  So you'd want a new boolean variable in `form-control.ts` that will determine if validation occurs?

[2022-11-27 22:55] alexsam29 commented on #211
I would also like to work on this, I feel like it's somewhat related to #201.

[2022-11-28 11:45] ayoayco commented on #201
Ah no, it's not boolean. It should take a value of type `ValidationHooks` (ie, 'onBlur', 'onKeyPress', etc)

Maybe the property name is not very good? :)

[2022-11-28 11:46] ayoayco commented on #211
I don't mind having the two issues in the same PR @alexsam29 :)

[2022-11-28 17:24] ayoayco opened #216 "generate a favicon.ico for our apps"
Right now we are still using Astro framework's logo as icon (favicon.ico) for our apps. Shame. 😅

Please upload a version of our logo (found in .github/assets/logo) and update the icons for our apps (found in apps/)

[2022-11-29 20:39] Icyscools commented on #196
I'm going to tagged #219 for this issue. It's about problem exploration about what this package is for, also it's waiting for this package to solve. Very interesting. 👀

[2022-11-30 00:44] NeilAn99 commented on #216
Hey, I can work on this.

[2022-11-30 01:49] NeilAn99 commented on #148
Hey, I would be interested in this, but I have a couple questions.
1. Should the script be run by the user before they create a PR? Something like `npm run release` and then they enter in the details?
2. Where should the RELEASE.md file and the script file be located?

[2022-11-30 07:42] fazzaamiarso commented on #201
Basically, we want to enable more listeners to trigger the validation. The listeners will be typed in `ValidationHooks` and users can use choose which listeners they want to use by passing `triggerValidationOn`.

Do I understand it correctly @ayoayco?

[2022-11-30 07:43] fazzaamiarso commented on #188
@ayoayco I will look into this.

[2022-11-30 07:49] ayoayco commented on #216
Thanks @NeilAn99 let us know how it goes!

[2022-11-30 07:50] ayoayco commented on #201
Yes exactly @fazzaamiarso

[2022-11-30 08:02] ayoayco commented on #188
Thanks @fazzaamiarso!

[2022-11-30 08:18] ayoayco commented on #196
Thanks for linking! I forgot to tag :)

[2022-11-30 08:26] ayoayco commented on #148
Yes, the contributor will run it before a PR. One of the questions will be which package was affected: form / validator.

Depending on the package selected, you will find a RELEASE.md file (eg, packages/form/RELEASE.md for the form package)

Also think of the scenario where PRs affect multiple packages. Should the contributor re-run the script or can you have a prompt like `how many packages are a

[2022-11-30 08:28] #124 closed

[2022-11-30 08:31] ayoayco commented on #188
For this one it would be good to imagine you are our user... so maybe create a new app from scratch so you will see the experience from installation. :)

[2022-11-30 09:47] Icyscools opened #220 "test(form): add unit test for a validateOnLoad prop in Form.astro"
We want a unit test for testing that `FormControl` can validate on load and getting a validation error messages if there have some error occurs when we passed a `vadlidateOnLoad` as `true` in `Form.astro` component.

Please, see more detail in #124 and #213.

[2022-11-30 10:29] Preet-Sojitra commented on #216
Hey, you can also join our discord server to geek out with us. Here's the link: https://discord.gg/KmhXR7mXWb
If you face any difficulty you can ask here or on discord server.